DIR /* AQUI É O RESET DO CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* AQUI COMEÇA NOSSO CSS */

.header-home {
 display: flex;
 flex-direction: column;
 align-items: center;
 background-image: url("images/bg-header-desktop.png");
 background-repeat: no-repeat;
 height: 100vh;
 padding: 30px;
}
.content-image {
    margin-top: 44px;
    margin-bottom: 76px;
}
.content-text {
    text-align: center;
	
}

.content-text h1 {
    font-size: 36px;
    

}

.content-text p {
    font-size: 24px;
		color: #666;
}

.content-button-ios button {
    margin-top: 44px;
    border-radius: 30px;
		padding: 12px 24px;
		width: 250px;
		background-color: hsl(171, 66%, 44%);
        color: #f1f1f1;
}

.content-button-android button {
    margin-top: 16px;
    border-radius: 30px;
		padding: 12px 24px;
		width: 250px;
		background-color: hsl(233, 100%, 69%);
        color: #f1f1f1;
}


@media screen and (max-width: 375px) {
  .header-home {
    background-image: url("images/bg-header-mobile.png");
  }
}
