DIR /* AQUI É O RESET DO CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Bai Jamjuree', sans-serif;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* AQUI COMEÇA NOSSO CSS */

.container {	
	padding: 30px 0 0 0;
	background-image: url("images/bg-header-desktop.png");
 	background-repeat: no-repeat;
}

.header-home {
 display: flex;
 flex-direction: column;
 align-items: center; 
 margin-top: 150px;
 text-align: center;
}
.content-image {
    margin-top: 44px;
    margin-bottom: 76px;
}
.content-text {
    text-align: center;
	
}

.content-text h1 {
    font-size: 30px;
	line-height: 34px;
	margin-top: 100px;
	margin-bottom: 22px;
	color: hsl(210, 10%, 33%);
}

.content-text p {
    font-size: 18px;
	color: rgba(102, 102, 102, 0.507);
	line-height: 26px;		
}

.btn {
  	display: block;
	width: 250px;
	text-align: center;
	padding: 1rem 2rem;
	font-size: 18px;
	margin: 0px auto 1.3rem auto;
	border-radius: 30px;
	color: #f1f1f1;
	border: none;
	text-decoration: none;
	opacity: 1;
	transition: opacity 0.1s ease-in-out;
}

.btn:hover {
	opacity: 0.8;
	
}

.btn-ios {
	margin-top: 44px;
	background-color: hsl(171, 66%, 44%);
	box-shadow: 0px 3px 1px hsl(170.9, 62.8%, 39%);
}

.btn-android {
	margin-top: 16px;
	background-color: hsl(233, 100%, 69%);
	box-shadow: 0px 3px 1px hsl(232.7, 69.8%, 55.9%);
}

.group {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	text-align: center;
}

.left {
	width: 100%;
}

.content-image img {
	width: 80%;
	align-self: center;
}


.right {
	width: 100%;
	
	
}

.right h4 {
	margin: 10px 0;
}

.right p {
	margin-bottom: 38px;
	color: rgba(102, 102, 102, 0.507);
}

.content-image2 img {
	width: 100%;
	align-self: center;
	margin-top: 60px;
	
}

.content-text2 {
    text-align: center;
	
}

.content-text2 h1 {
    font-size: 30px;
	line-height: 34px;
	margin-top: 100px;
	margin-bottom: 22px;
	color: hsl(210, 10%, 33%);
}

.content-text2 p {
    font-size: 18px;
	color: rgba(102, 102, 102, 0.507);
	line-height: 26px;		
}

.info-tittle {
	text-align: center;
	margin-top: 60px;
}

.info-tittle h1 {
	font-size: 30px;
	line-height: 34px;
	color: hsl(210, 10%, 33%);
	margin-bottom: 22px;
}

.info-tittle p {
	font-size: 18px;
	color: rgba(102, 102, 102, 0.507);
	line-height: 26px;
	margin-bottom: 80px;
}

.content-info {
	margin: 0 auto;
	text-align: center;
}

.info-item h2 {
	font-size: 20px;
	color: hsl(210, 10%, 33%);
	margin-bottom: 22px;
	margin-top: 40px;
}

.info-item p {
	font-size: 18px;
	color: rgba(102, 102, 102, 0.507);
	line-height: 26px;
	margin-bottom: 60px;
}

.content-marca {
	display: flex;
	flex-direction: column;
	margin-top: 120px;
}

.content-marca img {
	width: 30%;
	align-self: center;
	margin-bottom: 80px;
}

.content-text3 h1 {
    font-size: 30px;
	line-height: 34px;
	margin-top: 100px;
	margin-bottom: 22px;
	color: hsl(210, 10%, 33%);
	text-align: center;
}

.content-text3 p {
    font-size: 18px;
	color: rgba(102, 102, 102, 0.507);
	line-height: 26px;	
	text-align: center;
	margin-bottom: 80px;
}





@media screen and (min-width: 1020px) {
	.content-text {
		margin-top: -80px;
	}

	.content-button {
		display: flex;
		justify-content: center;
		flex-direction: row;
		margin-bottom: 120px;
	}

	.btn-ios {
		margin-top: 48px;
		margin-right: 6px;
	}

	.btn-android {
		margin-top: 48px;
		margin-left: 6px;
	}

	.btn {
		width: 190px;
	}

	.group {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: space-between;
		align-items: flex-start;
	}

	.group .left .content-image img {
		width: 150%;
	}

	.content-image2 img {
		width: 100%;
	}
	.left {
		width: 40%;
	}

	.right {
		text-align: left;
		width: 30%;
		margin-top: 86px;
		margin-right: 40px;
		line-height: 26px;
		
	}

	.content-text2 {
		text-align: center;
		max-width: 1024px;
		margin: 0 auto;
	}

	.content-text2 h1 {
		font-size: 30px;
		line-height: 34px;
		margin-top: 50px;
		margin-bottom: 22px;
		color: hsl(210, 10%, 33%);
	}
	
	.content-text2 p {
		font-size: 18px;
		color: rgba(102, 102, 102, 0.507);
		line-height: 26px;	
		margin-bottom: 80px;	
	}

	.content-info {
		max-width: 1024px;
		display: flex;	
	}

	.content-marca {
		max-width: 1024px;
		display: flex;
		margin: 80px auto 0 auto;
		flex-direction: row;
		justify-content: space-around;
	}

	.content-marca img {
		max-width: 12%;
		flex: 1;
		margin-bottom: 100px;	
	}

	.content-text3 {
		text-align: center;
		max-width: 760px;
		margin: 0 auto;
	}

	.content-text3 h1 {
		font-size: 30px;
		line-height: 34px;
		margin-top: 50px;
		margin-bottom: 22px;
		color: hsl(210, 10%, 33%);
	}

	.content-text3 p {
		font-size: 18px;
		color: rgba(102, 102, 102, 0.507);
		line-height: 26px;	
		margin-bottom: 20px;	
	}

	.footer {
		background-color: rgb(240, 240, 240);
		height: 154px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.imagem-logo img {
		width: 60px;
		height: 60px;
	}

	.footer-itens {
		max-width: 490px;
		display: flex;
		flex-wrap: wrap;
		margin-right: 124px;	
	}

	.footer-itens p {
		font-size: 18px;
		color: rgba(71, 71, 71, 0.842);
		line-height: 1.4;
		padding: 10px;
		align-self: flex-end;
		margin-right: 40px;
	}

	.footer-icons img {
		margin-right: 20px;
	}
	

}	

